Source: erlang-p1-sip
Section: libs
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
X-Orig-Maintainer: Philipp Huebner <debalance@debian.org>
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), dh-rebar,
 erlang-p1-stun, erlang-p1-tls, erlang-p1-utils, erlang-syntax-tools
Standards-Version: 3.9.5
Homepage: https://github.com/processone/p1_sip
VCS-Browser: https://github.com/jabber-at/p1_sip
VCS-Git: https://github.com/jabber-at/p1_sip.git

Package: erlang-p1-sip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}, erlang-p1-stun, erlang-p1-tls, erlang-p1-utils
Description: SIP library for Erlang
 This library was written for ejabberd which still uses it.
 It was split off into it's own project to follow
 Erlang/OTP guidelines.
